body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #50b3a2;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
}

section {
    padding: 20px 0;
}

section#about {
    background: #e1e1e1;
}

section#services ul {
    padding: 0;
    list-style: none;
}

section#services ul li {
    background: #50b3a2;
    color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

section#services ul li:nth-child(even) {
    background: #333;
}

section#contact {
    background: #e1e1e1;
    padding: 20px;
    border-top: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
